#nav-left {
  height: 100vh;
}

/* #content {
  background-image: url("/assets/images/camila-quintero-franco-mC852jACK1g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */

#main-img {
  height: auto;
  width: 100%;
}

body {
}
